<% if can? :manage, @cohort %>
  <%= render partial: "components/tag_list", locals: {membership: @membership} %>
<% end %>

<% if @is_current_user  %>
  <% @current_attendances.each do |attendance| %>
    <%= form_tag self_take_attendance_path(attendance), method: :put do  %>
      <%= button_tag "Check In for #{attendance.event.title}" %>
    <% end %>
  <% end %>
<% end %>

<%= foldable_section_tag("Observations") do %>
  <%= section_summary_tag do %>
    Average Observation: <%= @membership.average_observations %>
  <% end %>
  <%= section_content_tag do %>
    <% if @observations %>
      <%= render @observations %>
    <% else %>
      No Observations... yet.
    <% end %>
    <section>
      <h4>New Observation</h4>
      <%= render partial: "observations/form", locals: {user: @user, membership: @membership} %>
    </section>
  <% end %>
<% end %>

<% attendances = @attendances %>
<%= foldable_section_tag("Attendances") do %>
  <%= section_summary_tag do %>
    Present: <%= attendances.present.count %>, Tardy: <%= attendances.tardy.count %>, Absent: <%= attendances.absent.count %>
  <% end %>
  <%= section_content_table(attendances) %>
<% end %>

<%= foldable_section_tag("Submissions") do %>
  <%= section_summary_tag do %>
    Percent Complete: <%= percent_of(@submissions, "complete") %>%
  <% end %>
  <%= section_content_table(@submissions) %>
<% end %>

<section class="membership">
  <h3>Profile</h3>
  <%= render partial: "users/form" %>
  <% if @user.github_id %>
    <%= link_to "Refresh Github info", gh_refresh_user_path(@user), class: "button" %>
  <% end %>
</section>

<% if can? :manage, @membership %>
  <%= form_for @membership do |f| %>
    <%= f.label :outcomes_id %>
    <%= f.text_field :outcomes_id %>
    <%= f.submit %>
  <% end %>
<% end %>
