<section>
  <h3 id="attendances" class="fold-without-anchor js-fold-without-anchor">
    <a href="#attendances">
      <% if user %>
        <%= user.first_name %>'s
      <% end %>
      Attendance
    </a>
  </h3>
  <p>Present: <%= attendances.present.count %>, Tardy: <%= attendances.tardy.count %>, Absent: <%= attendances.absent.count %></p>
  <div>
    <table data-sortable>
      <%= render partial: "components/todo_table", locals: {collection: attendances} %>
    </table>
  <div>
</section>
